/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "search.scss";
@import "new.scss";
@import "show.scss";

/*调整导航栏的样式*/
.page-chose 
{
  font-size:16px;
  margin-left:10px;
  font-family: "微软雅黑";
  font-weight: 800;
}

/*调整LOGO*/
.logo 
{
	font-family: "方正舒体";
}

/*小头像的大小*/
.micro-avatar
{
	margin-top:5px;
	width: 40px;
	height: 40px;
	border-style:solid;
	border-width:1px;
	border-color:gray;
}

/*下拉表的button*/
.dropdown-bt
{
	margin-top:5px;
	height: 40px;
}

/*页脚字体*/
.page-foot
{
	font-family: "微软雅黑";
}

/*粘贴页脚*/
html,body {
height: 100%;
}

#wrap {
min-height: 100%;
height: auto !important;
margin: 0 auto -80px;
}

#push
{
height: 80px;
}

.footer {
	height: 80px;
}
